:root{
  --black-color:#11101d;
  --white-color:#fff;
  --sky-color:#E4E9F7;
  --light-black:#1d1b31;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
position: relative;
min-height: 100vh;
width: 100%;
font-family: 'Lucida Sans', Verdana, sans-serif;
}    